@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap"); */
body {
  font-family: "PT Serif", serif;
}
.medium-logo {
  font-weight: 600;
}
.logo {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 25px;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.headerinfo-para {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.headerinfo-btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mainbody {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mainbody2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.loggedin {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title {
  font-weight: 800;
}
.footer-name {
  font-weight: 600;
}
.no-scrollbar::-webkit-scrollbar {
  width: 12px;
}
.set-scrollbar::-webkit-scrollbar {
  width: 5px;
}
